{% extends "layout.twig" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="static/css/DT_bootstrap.css"/>
	<script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="static/js/DT_bootstrap.js"></script>
{% endblock %}

{% block content %}
<script src="static/js/highcharts.js"></script>
<script type="text/javascript">
$(function () {
		$('#container').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            credits: { 
                enabled:false
            },
            title: {
                text: 'Estadísticas',
                x: -20 //center
            },
            xAxis: {
                categories: [{% for i in range(0, sim.daysCount) %}
					    '{{ i }}'
					    {% if sim.daysCount != i %}
					    ,
					    {% endif %}
					{% endfor %}]
            },
            tooltip: {
                formatter: function() {
                    return 'Dia: <b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y;
                }
            },
			
            yAxis: {
                title: {
                    text: 'Valores máximos'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [
            
            {% for c in sim.click %}
            {
                name: '{{ c.name }}',
                data: [{{ c.visits }}]
            }, 
            {% endfor %}
            ]
        })
        
        table = $('#items').dataTable({
            "aoColumns": [
                // Name
                { },
                // Value
                { },
                // LUp
                { },
                // LDw
                { },
                //VPC
                { }
            ],
            //"bFilter": false,
            "aaSorting": [
                [0, 'asc']
            ],
            "bStateSave": true,
            "bAutoWidth": false,
            "bInfo": false,
        })

    })	  
</script>

<style>
	
.table tbody tr:hover td, .table tbody tr:hover th {
background: rgb(197, 232, 255);
}

</style>


<div class="span9">
	<div class="hero-unit">
	<h1>{{ sim.name }}</h1>
	<p>{{ sim.short_description }}</p>
	<div class="row-fluid">
		<div class="span9">
			<h3>Estadísticas</h3>
			<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>	
	   	</div>
	</div>
	<br/>
	<div class="row-fluid">
	   	<div class="span12">
	   	<h3>Datos de la simulación</h3>
	 		
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover" id="items">
            <thead>
            <tr>
               
                <th class="left">Condición</th>
                <th class="left">Valor</th>
                <th class="left">Límite superior</th>
                <th class="left">Límite inferior</th>
                <th class="center">VPC</th>
                
            </tr>
            </thead>
            <tbody>
               {% for sc in sim.conditions %}
                <tr class="row-{{ sc.id }}" id="row-{{ sc.id }}">
	                
	                <td class="left" width="35%">{{ sc.name }}</td>
	                <td class="left">{{ sc.value|number_format(0) }}</td>
	                <td class="left" width="20%">{{ sc.limitUp }}</td>
					<td class="left" width="20%">{{ sc.limitDown }}</td>
					<td class="center">{{ sc.vpc|number_format(0) }}</td>
			   </tr>
                {% endfor %}
                </tbody>
        </table>

	
	   	
	   	</div>
	</div>

	
	</div>
</div><!--/span-->


{% endblock %}